<%- include('header.ejs') %>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand text-dark">Centre d'info</a>
  <div class="form-inline">
    <button id="profil_navbar" class="btn mr-sm-2"><img  src="/img/profil.png" width="24" height="24" alt=""></button>
    <button id="mess_navbar"  class="btn mr-sm-2"><img src="/img/mess.png" width="24" height="24" alt=""></button>
    <button class="btn mr-sm-2"><img src="/img/zoom.png" width="24" height="24" alt=""></button>
    <a href="/logout"class="btn my-2 my-sm-0"><img src="/img/logout.png" width="24" height="24" alt=""></a>
  </div>
</nav>
</body>
</html